body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: lightblue;
  padding: 20px;
}

.logo {
  text-align: left;
}

.login {
  text-align: right;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.forums {
  background-color: rgb(80, 107, 138);
}

.posts {
  width: 500px;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start
}


.post {
  font-size: large;
  
  padding: 10px;
  border: 1px solid;
  border-radius: 3em;
  border-color: rgb(127, 209, 223);
  width: fit-content;
  background-color: rgb(127, 209, 223);
}

.currentUser {
  background-color: rgb(126, 206, 150);
  border-color: rgb(126, 206, 150);
  align-self: flex-end;
}

.author {
  font-size: small;
  color: rgb(21, 18, 57);
  text-align: right;
  margin-bottom: 1em;
}

.currUser {
  text-align: left;
}